.task-form {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  justify-content: center;
}

.task-form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 5px;
}

.task-form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-form button:hover {
  background-color: blue;
}